* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.area{
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

/* ---- 카카오톡 - 채팅창 만들기 ---- */
.chatting{
  width: 360px;
  border: 1px solid black;
  margin: 50px 20px;
}

#chatting-bg{
  width: 100%;
  height: 400px;
  background-color: rgb(178,199,217);

  overflow: auto;
}

#chatting-bg > p {
  margin: 20px 10px;
  text-align: right;
}

#chatting-bg > p > span{
  background-color: rgb(254, 234, 51);
  padding: 5px;
  border-radius: 5px;
}

#chatting-input{
  width: 100%;
  display: flex;
  height: 22px;
}

#chatting-input > input {
  height: 100%;
  width: 90%;
  outline: none;
  padding-left: 5px;
}

#chatting-input > button {
  height: 100%;
  width: 10%;
}