.row{
  margin: 5px 0;
}

/* X버튼 */
.remove-row{
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;

  cursor: pointer;
  user-select: none;
}

.remove-row:hover{
  font-weight: bold;
}

.remove-row:active{
  font-weight: bold;
  color: orange;
}