<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>ServletProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 특정 요청이 올 경우 어떤 Servlet에서 처리할지 지정 -->

	<!-- 특정 클래스를 Servlet으로 지정 -->
	<servlet>
		<servlet-name>ex1</servlet-name>
		<servlet-class>edu.kh.servlet.controller.ExampleServlet1</servlet-class>
	</servlet>

	<!-- Servlet으로 지정된 클래스가 어떤 주소의 요청을 처리할지 지정 -->
	<servlet-mapping>
		<servlet-name>ex1</servlet-name>
		<url-pattern>/example1</url-pattern>
	</servlet-mapping>



</web-app>