:root{
  font-size: 62.5%;
  
  --main-color : #66B97E;
  --footer-color : #d9d9d9;
}

* {
  font-family:'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main{
  width: 144rem;
}



/*-------- header --------*/
header{
  height: 51rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > #top-header{
  width: 100%;
  height: 7rem;
}

header > #main-header{
  width: 100%;
  height: 45rem;
  background-color: var(--main-color);
}

/* top 헤더 메뉴들 */
#top-header > section{
  height: 100%;

  display: flex;
  justify-content: end;
  padding-right: 10rem;
}

#top-header article{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-header a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
}


/* main 헤더 */
/* 로고 정렬 */
#main-header > #logo-image{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25rem;
  padding-top: 8rem;
}


/* ---검색창 --- */
#main-header > #search-area{
  display: flex;
  justify-content: center;
  align-items: top;

  height: 20rem;
}

.search-area{
  width: 60rem;
}

.search-area fieldset{
  border: 0.3rem solid white;
  padding: 0.2rem;
  border-radius: 3rem;

  display: flex;
}

/* 검색창 */
#query{
  /* 일반상태 테두리 */
  border: none;

  /* 클릭했을때 테두리 */
  outline: none;

  font-size: 1.8rem;
  font-weight: 100;
  
  padding: 1rem 2rem;
  width: 92%;
  background-color: #ffffff00;
}

#query::placeholder{
  color: white;
}


/* 검색 버튼 */
#search-btn{
  width: 8%;
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
  color: white;

  font-size: 2rem;
}



/*-------- nav --------*/
nav{
  width: 100%;
  height: 7rem;
  background-color: white;
}

nav > ul{
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
  height: 100%;
}

nav li{
  flex: 0 1 15rem; /* ??? */
}

nav a{
  text-decoration: none;
  color: var(--main-color);
  font-size: 2rem;
  font-weight: normal;
  padding: 1rem 0;
  display: block;
  text-align: center;
}




/*-------- content --------*/

/*--- review content ---*/
.review-container{
  width: 100%;
  height: 58rem;

  display: flex;
  align-items: center;

}

/* review content */
.review-content{
  width: 48rem;
  height: 58rem;

  display: flex;
  flex-direction: column;
}

/* 첫번째 리뷰 */
.review-container > section:first-child{
  display: flex;
  flex-direction: column;

  align-items: end;
}

/* 두번째 리뷰 */
.review-container > section:nth-child(2){
  display: flex;
  flex-direction: column;

  align-items: center;
}

/* 리뷰 사진 */
#review-img{
  width: 36rem;
  height: 45rem;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 리뷰 내용 */
.review-article{
  width: 36rem;
  height: 13rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-article a{
  text-decoration: none;
  color: black;
}


/* 첫줄_타이틀, 작성자 */
.review-article > section:first-child{
  display: flex;
  align-items: center;
}

#review-title{
  font-size: 3rem;
  margin: 0 1rem 0.5rem 0;
}

#reviewer{
  font-size: 1.4rem;
}

#reviewer > a{
  color: #7C7C7C;
}

.review-article a{
  text-decoration: none;
  color: black;
}


/* 두번째 줄_지역, 별 */
.review-article > section:last-child{
  display: flex;
  align-items: center;
}

#review-place{
  font-size: 2.2rem;
}

#review-place > a{
  color: #7C7C7C;
}

.review-article span{
  font-size: 1.5rem;
  margin: 0 1rem;
  color: #7C7C7C;
}



/*--- eating container ---*/
.eating-container{
  width: 100%;
  height: 16rem;
  background-color: #66b97d21;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 3rem;
}

/* 같이먹어요 타이틀 */
#eating-title{
  width: 9%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#eating-title a{
  text-decoration: none;
}

#eating-title > article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#eating-title p:first-child{
  font-size: 1.2rem;
  color: #8C8888;
}

#eating-title p:last-child{
  font-size: 2.4rem;
  color : var(--main-color);
  font-weight: bold;
}

/* 같이먹어요 내용 */
.eating-content{
  width: 25%;
  height: 100%;

  display: flex;
}


/* 같이먹어요 내용 이미지 */
#eating-img{
  width: 30%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#eating-img img{
  border-radius: 10rem;
  width: 7rem;
}


/* 같이먹어요 내용 아티클 */
#eating-article{
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


#eating-article > article:first-child{
  font-size: 2rem;
  font-weight: bold;
}

#eating-article > article:nth-child(2){
  font-size: 1.6rem;
}

#eating-article > article:last-child{
  font-size: 1.8rem;
  font-weight: light;

  margin-top: 1rem;
}

#eating-article a{
  text-decoration: none;
  color: black;
}



/*-------- footer --------*/

footer{
  width: 100%;
  height: 4rem;
  background-color: var(--footer-color);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 1;
  color: rgba(130, 130, 130, 1);
}

footer > article {
  padding: 1.5rem;
}

footer a {
  color: rgba(130, 130, 130, 1);
  text-decoration: none;
}


