:root {
  /* 페이지 기본 설정 또는 변수 선언 */
  font-size: 62.5%; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  margin: 3rem auto; /* 3rem = 30px */
  width: 30rem;
  border: 0.2rem solid #ddd;
  border-radius: 1rem;
  padding: 2rem 1rem;
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1{
  margin-bottom: 1rem;
}

.row{
  padding: 1rem;
  border-top: 0.2rem solid #ddd;
  display: flex;
  align-items: center;
}

.row > label{
  width: 5rem;
}
