<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조회 성공</title>
</head>
<body>
    <h1>게시글 검색 결과</h1>

    <table border="1" th:object="${boardList}">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>조회수</th>
                <th>작성날짜</th>
            </tr>
        </thead>

        <tbody id="tbody" th:object="${boardList[0]}">
            <tr>
                <td th:text="*{boardNo}">번호</td>
                <td th:text="*{boardTitle}">제목</td>
                <td th:text="*{userId}">작성자</td>
                <td th:text="*{boardContent}">내용</td>
                <td th:text="*{boardReadCount}">조회수</td>
                <td th:text="*{boardDate}">작성날짜</td>
            </tr>
        </tbody>

        <tbody id="tbody" th:object="${boardList[1]}">
            <tr>
                <td th:text="*{boardNo}">번호</td>
                <td th:text="*{boardTitle}">제목</td>
                <td th:text="*{userId}">작성자</td>
                <td th:text="*{boardContent}">내용</td>
                <td th:text="*{boardReadCount}">조회수</td>
                <td th:text="*{boardDate}">작성날짜</td>
            </tr>
        </tbody>

        <tbody id="tbody" th:object="${boardList[2]}">
            <tr>
                <td th:text="*{boardNo}">번호</td>
                <td th:text="*{boardTitle}">제목</td>
                <td th:text="*{userId}">작성자</td>
                <td th:text="*{boardContent}">내용</td>
                <td th:text="*{boardReadCount}">조회수</td>
                <td th:text="*{boardDate}">작성날짜</td>
            </tr>
        </tbody> 

    </table>


</body>
</html>