<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>

  <link rel="stylesheet" href="/css/common-style.css">
</head>

<body th:object="${board}">

  <h1>글 작성하기</h1>

  <form class="container" action="insert" method="POST">
    <label>[제목] </label>
    <input type="text" name="boardTitle"></input>
    <hr>
    <label>[비밀번호] </label>
    <input type="password" name="boardPw"></input>
    <hr>

    <label>[작성자] </label>
    <input type="text" name="boardWriter"></input>
    <hr>

    <!-- 내용 -->
    <textarea name="boardContent"></textarea>

    <div class="btn-area">
      <button>작성하기</button>
    </div>

  </form>



</body>
</html>