<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajax를 이용한 공공데이터 요청하기</title>
</head>
<body>

  <h1>Ajax를 이용한 공공데이터 요청하기</h1>

  <label for="region">지역 선택</label>
  <select name="region" id="region">
      <option>서울</option>
      <option>경기</option>
      <option>인천</option>
      <option>제주</option>
      <option>세종</option>
      <option>광주</option>
      <option>대구</option>
      <option>대전</option>
      <option>부산</option>
      <option>울산</option>
      <option>강원</option>
      <option>경북</option>
      <option>경남</option>
      <option>전북</option>
      <option>전남</option>
      <option>충북</option>
      <option>충남</option>
  </select>

  <div>
    <h2 id="regionName">서울</h2>

    <div class="current-weather">
      
    </div>
  </div>


  
</body>

<script src="/js/weather.js"></script>
</html>