/* 일반 구조 선택자 */

/* :first-child : 형제 관계 중 첫 번째 요소 */
#test1 > p:first-child{
  background-color: red;
  color: wheat;
}

/* :nth-child(숫자) : 형제관계 중 숫자번째 요소 선택 */
#test1 > p:nth-child(2){ /* p태그 중 2 번째 선택 */
  background-color: yellow;
}

#test1 > p:nth-child(4){ /* p태그 중 4 번째 선택 */
  background-color: pink;
}


/* :nth-child(수열) : 형제관계 중 수열번째 요소 선택 */
#test1 > p:nth-child(2n+1){ /* 2n+1 : 홀수 */
  /* p태그 형제 요소 중 2n+1번째 선택(n은 0 이상의 정수) */
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}

/* :last-child : 형제 관계의 요소 중 마지막 요소 */
/* keypoing! : 선택된 형제 중 마지막을 찾는게 아니라
    모든 형제 중 마지막 요소(pre)가
    지정된 선택자(p) 중 마지막이 맞는가를 확인
    (확인 후 맞아야지 바뀜) */
#test1 > p:last-child{
  background-color: orange;
}

/* :nth-last-child(숫자|수열) :
  뒤에서부터 숫자|수열 번째 요소 선택 */
#test1 > p:nth-last-child(2){
  /* p태그의 모든 형제 요소 중 뒤에서부터 2번째가 p태그가 맞으면 선택 */
  color: hotpink;
}


/* -------------------------------------------------- */

/* 형태 구조 선택자 */ 
/* 이게 순서 다루기는 훨씬 쉬움! */

/* :fist-of-type : 같이 선택된 형제 중 첫 번째 요소 */
#test2 > p:first-of-type{
  background-color: tomato;
}

/* :last-of-type : 같이 선택된 형제 중 마지막 요소 */
#test2 > p:last-of-type{
  background-color: deepskyblue;
}

/* :nth-of-type(숫자|수열) : 같이 선택된 형제 중 숫자|수열 번째 요소 */
#test2 > p:nth-of-type(2n+1){
  font-family: "궁서체";
  font-size: 30px;
}

/* :nth-last-of-type(숫자|수열) : 
  같이 선택된 형제 중 뒤에서부터 숫자|수열 번째 요소*/
#test2 > p:nth-last-of-type(2){
  background-color: lightseagreen;
}

/* -------------------------------------------------- */

/*------- 부정 선택자 (:not()) -------*/ 

#test3 > li:not(:nth-of-type(3n)){
  background-color: steelblue;
}

