.flex-container{
  height: 400px;
  background-color: #ddd;

  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  /* flex-flow: row nowrap; */
}


/* order : item의 순서를 지정하는 속성 */
.order1{ order : 1 ;}
.order2{ order : 2 ;}
.order3{ order : 3 ;}
.order4{ order : 4 ;}
.order5{ order : 5 ;}


/* flex-grow : item 팽창, 기본값 0 */
/* flex-grow : item이 팽창할 비율 */
/* 중심축 방향으로 팽창 */
.grow1{flex-grow: 1;}
.grow2{flex-grow: 2;}
.grow3{flex-grow: 3;}
.grow4{flex-grow: 4;}
/* 반응형 웹에서 많이 사용! */


/* flex-shrink : item 수축 정도 */
.shrink0 { flex-shrink: 0; }
.shrink1 { flex-shrink: 1; }
.shrink2 { flex-shrink: 2; }
.shrink3 { flex-shrink: 3; }


/* flex-basis :
  item의 중심축 방향의
  기본 점유율(크기)을 지정하는 속성*/
.basis-150px { flex-basis: 150px;}
.basis-10 { flex-basis: 10%;}
.basis-25 { flex-basis: 25%;}


/* flex 속성
  flex-grow, flex-shrink, flex-basis를 한 번에 작성하는 속성
*/
.flex1{ flex: 0 0 200px;}


/* align : 교차축 */
/* align-self :
각각의 item별로 교차축 방향으로 정렬을 지정하는 속성
*/

.self-test{ align-items: flex-start;}

.self-start{align-self: flex-start;}
.self-center{align-self: center;}
.self-end{align-self: flex-end;}