* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 다 만들고나서 삭제할 예정 */
/* div, main, header, footer, section, article, nav, aside, form {
  border: 1px solid black;
} */

body{
  display: flex;
  flex-direction: column; /* 요소를 수직으로 배치하기위해서 */
  align-items: center;

  /* min-height : 최소 높이, (축소불가)
    화면(브라우저)이 아무리 작아져도 지정된 높이만큼은 무조건 표시 */

  /* max-height : 최대 높이, (확대불가)
    화면(브라우저)이 아무리 커져도 지정된 높이만큼만 표시 */
  min-height: 100vh; 
}

main{
  width: 1140px; /* 데스크탑 브라우저 기본사이즈 */
  flex-grow: 1; /* 중심축 방향 팽창 비율, 
                main이 화면을 계속 차지하면서 footer를 밑으로 밀어냄 */
  min-height: 500px;
}

/* ---------------------- header ------------------------ */

header {
  height: 200px;
  display: flex;
}

header > section:nth-of-type(1) { width: 15%;}
header > section:nth-of-type(2) { width: 70%;}
header > section:nth-of-type(3) { width: 15%;}


/*---- 홈 로고 부분 ----*/
header > section:first-of-type{ /* 로고 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-logo{
  width: 120px;
  height: auto;
  /* 이미지는 고유한 크기가 있는데
    한쪽 방향을 수정하면 나머지 방향을 같은 비율로 수정하게함
    (height: auto 안적어도 적용됨) */
}


/*---- 검색창 부분 ----*/
header > section:nth-of-type(2){
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area{
  width: 500px;
}

.search-area fieldset{
  border: 2px solid #455ba8;
              /* rgb 16진수 0~255)표기 */

  padding: 2px;
  border-radius: 5px;
  display: flex; /* 내부요소들이 가지런히 정렬됨 */
}

/* 검색창 */
#query{
  /* 일반상태 테두리 */
  border: none;
  
  /* 클릭했을 때 테두리 */
  outline: none;

  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  width: 92%;
}

/* 검색 버튼 */
#search-btn{
  width: 8%;
  cursor: pointer;
  border: none;
  background-color: white;

  /* 가변단위 em :
    부모 요소의 글자 크기 비례 */
  font-size: 1.2em;
  font-weight: bold;
  color: #455ba8;
}


/* ---------------------- nav ------------------------ */
nav{
  height: 50px;
  position: sticky; /* 화면을 벗어나면 특정 위치에 고정 */
  top : 0; /* 최상단에 붙임 */
  background-color: white;
  z-index: 1000;
  border-bottom: 2px solid black; /* 아래 테두리 */
}

nav > ul{
  display: flex; /* 중심축이 row라서 자동 가로배치 */
  list-style: none; /* li 앞에 기호 제거 */
  height: 100%;
}

nav li {
  flex: 0   1    150px;
  /* grow shrink basis */
}

nav a{
  text-decoration: none; /* 밑줄 제거 */
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding: 11px 0; /* 상하 좌우 */
  display: block; /* 크기 지정하려고 변경. a는 기본적으로 inline */
  text-align: center; /* 글자 가운데 정렬 */

  height: 100%;
  border-radius: 5px;

  /* 요소 스타일 변경 시간 */
  transition-duration: 0.1s;
}

nav a:hover{
  background-color: #455ba8;
  color: white;
}



/* ---------------------- content ------------------------ */

.content{
  min-height: 800px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; /* .content-1/2 을 세로방향으로 꽉 채움 */
}

/*---- .content-1 ----*/
.content-1{
  width: 70%;
  padding: 20px;
}
.content-1 > * { margin-bottom: 20px; }

/*---- .content-2 ----*/
.content-2{ width: 30%; }


/* 로그인 영역 */
.content-2 > form {
  height: 150px;
  padding: 10px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 아이디, 비밀번호, 로그인 버튼 영역 */
.id-pw-area{
  border: 1px solid #ccc;
  display: flex;
  flex-basis: 60%; /* 중심축 방향(column) 크기 지정 */
}

/* id/pw */
.id-pw-area > section:first-child{
  width: 75%;
  display: flex;
  flex-direction: column;
}

.id-pw-area > section:first-child > input {
  border: none;
  outline: none;
  border-right: 1px solid #ccc;
  height: 50%;
  padding : 5px;
}

input[name="input-id"]{
  border-bottom: 1px solid #ccc !important;
}

/* id/pw에 초점이 맞춰졌을 때 */
.id-pw-area > section:first-child > input:focus{
  border : 2px solid #455ba8 !important;
}

/* 로그인 버튼 */
.id-pw-area > section:last-child{
  width: 25%;
  display: flex;
  justify-content: center;
}

.id-pw-area > section:last-child > button {
  width: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
}

.id-pw-area > section:last-child > button:hover{
  background-color: #455ba8;
  color: white;
}

/* 아이디저장 label */
.content-2 label {
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  padding: 5px 0;
  user-select: none; /* 블록 못하게 */
}


/* 체크박스 */
input[name="saveId"]{
  margin-right: 5px;
}

/* 회원가입 / ID/PW 찾기 */
.signup-find-area{
  margin-top: 10px;
  padding-left: 5px;
}

.signup-find-area > a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.signup-find-area > span {
  padding: 0 10px; /* 상하 좌우 */
}




/* ---------------------- footer ------------------------ */

footer{
  width: 100%;
  height: 200px;
  /* rgba 16진수(0~255) 작성 방법*/
  /* r(red) g(green) b(blue) a(alpha, 투명도, 00~ff 높을수록 투명 ) */
  background-color: #a3add342;
  display: flex;
  justify-content: center; /* 중심축 가운데 정렬*/
  align-items: center; /* 교차축 가운데 정렬 */
  flex-direction: column; /* 중심축 수직으로 바꾸면 위아래로 바뀜 */
}

footer > p{
  font-weight: bold; /* 폰트 굵기 (100~900, 높을수록 굵음) + bold */
  margin: 16px 0; /* 상하 좌우, 다른 요소와의 여백 지정 */
}

footer > article > * {
  font-size: 14px; /* 폰트 크기 */
}

footer a {
  color : black; /* 글자색 */
  text-decoration: none; /* 글자에 밑줄 제거 */
}

footer span{
  padding : 0 10px; /* 상하 좌우 테두리이전까지의 영역 10px 지정 */
}