<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.test.board.model.mapper.BoardMapper">
	
	
	<select id="select" resultType="Board">
		
		SELECT BOARD_NO , BOARD_TITLE , USER_ID , BOARD_CONTENT , BOARD_READCOUNT , BOARD_DATE 
		FROM TB_BOARD tb  
		JOIN TB_USER USING ("USER_NO")
		WHERE BOARD_TITLE LIKE '%${boardTitle}%'
		
	</select>	
	
	
	
</mapper>