:root{
  font-size: 62.5%;
  
  --main-color : #66B97E;
  --footer-color : #d9d9d9;
}

* {
  font-family:'GmarketSansMedium';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSans';
  font-weight: 300;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansLight.ttf') format("truetype");
  font-display: swap;
} 

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

main{
  width: 144rem;
}



/*-------- header --------*/
header{
  height: 8rem;
  border-bottom: 2px solid var(--footer-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로고 */
header > section:first-child {
  width: 55%;
  display: flex;
  justify-content: end;
}

/* 헤더메뉴 섹션 */
header > section:last-child {
  width: 45%;
  display: flex;
  justify-content: end;
}

/* 헤더 메뉴들 */
header article{
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a{
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.6rem;
}



/*-------- footer --------*/

footer{
  width: 100%;
  height: 4rem;
  background-color: var(--footer-color);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 1;
  color: rgba(130, 130, 130, 1);
}

footer > article {
  padding: 1.5rem;
}

footer a {
  color: rgba(130, 130, 130, 1);
  text-decoration: none;
}



/*-------- signup container --------*/

.container{
  width: 100%;
  height: 76rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.container > i{
  font-size: 8rem;
  color: var(--main-color);
  margin-top: 6rem;
}

/* 아티클 */
.container > article:nth-child(2){
  font-size: 4rem;
  font-weight: bold;

  margin-top: 6rem;
}

.container > article:nth-child(3){
  font-size: 1.5rem;
  color: #838383;

  margin-top: 2rem;
}



/* 완료 btn */
.login-btn{
  cursor: pointer;
  display: inline-block;

  width: 50rem;
  height: 7rem;
  background-color: #66B97E;
  color: white;
  
  font-size: 2.5rem;
  border: none;
  border-radius: 0.5rem;

  margin-top: 6rem;
}

.login-btn:focus{
  outline: 0;
}


/* 프로필설정 btn */

.set-profile-btn{
  cursor: pointer;
  display: inline-block;

  width: 50rem;
  height: 7rem;
  color: #66B97E;
  background-color: white;
  
  font-size: 2.5rem;
  border: 1px solid #66B97E;
  border-radius: 0.5rem;

  margin-top: 2rem;
}

.set-profile-btn:focus{
  outline: 0;
}
