<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 페이지</title>
</head>
<body>
  <h1>관리자 페이지</h1>

  <hr>
  <h3>이메일이 일치하는 회원 정보 조회</h3>
  <form action="selectMember">
    이메일 : <input type="text" name="inputEmail">
    <button>검색</button>
  </form>

  <hr>

  <h1> <a href="selectAll">전체 회원 조회</a> </h1>

  <hr>

  <h1> <a href="selectSort">전체 회원 조회(정렬)</a> </h1>

  <hr><hr>

  <h1> <a href="ajaxTest">AJAX로 관리자 기능 수행하기</a> </h1>



</body>
</html>