<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--연결할 인터페이스의 패키지명.인터페이스명 작성-->
<mapper namespace="edu.kh.project.admin.model.mapper.AdminMapper">

  <!-- select태그에서 resultType | resultMap 은 필수! -->  
  
  <!-- 이메일이 일치하는 회원 정보 조회 -->
  <select id="selectMember" resultType="Member">
	SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME , 
	MEMBER_TEL , MEMBER_ADDRESS , TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE, AUTHORITY ,
	MEMBER_DEL_FL
	FROM "MEMBER"
	WHERE MEMBER_EMAIL = #{inputEmail}
  </select> 
  

  <!-- 전체 회원 조회 -->
  <!--resultType은 1행 결과를 저장할 타입 지정-->
  						<!--Member는 별칭! DBconfig.class를 보세요-->
  <select id="selectAll" resultType="Member">
	SELECT MEMBER_NO , MEMBER_EMAIL , MEMBER_DEL_FL 
	FROM "MEMBER"
	ORDER BY MEMBER_NO DESC  
  </select>  

  <!--
  	#{} : 출력 결과 양쪽에 ''(홑따옴표) 추가
  	${} : 출력 값 그대로 출력 (홑따옴표 X)
  -->

  <!--전체 회원 조회(+정렬)-->
  <select id="selectSort" resultType="Member">
	SELECT MEMBER_NO , MEMBER_EMAIL , MEMBER_DEL_FL 
	FROM "MEMBER"
	ORDER BY ${query}
  </select>
  
  
  <!--회원 복구-->
  <update id="restoration">
	UPDATE "MEMBER" SET
	MEMBER_DEL_FL = 'N'
	WHERE MEMBER_NO = #{memberNo}
  </update>
  
  
  <!-- 관리자권한 변경 -->
  <update id="changeAuthority">
	UPDATE "MEMBER" SET
	AUTHORITY = #{authority}
	WHERE MEMBER_NO = #{memberNo}
  </update>
  
<!--   관리자권한 변경 
  <update id="changeAuthority">
	UPDATE "MEMBER" SET
	AUTHORITY = DECODE(AUTHORITY, 1, 2, 2, 1)
	WHERE MEMBER_NO = #{memberNo}
  </update>
-->	

  <!--비밀번호 "1234"로 초기화-->
  <update id="initPw">
	UPDATE "MEMBER"
	SET MEMBER_PW  = #{encPw}
	WHERE MEMBER_NO = #{memberNo}
  </update>

  
  
   
</mapper>