<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--연결할 인터페이스의 패키지명.인터페이스명 작성-->
<mapper namespace="edu.kh.project.board.model.mapper.BoardMapper">

	<!-- CDATA 태그 : 태그 내부에 작성된 모든 문자는 단순 문자로 취급 -->

	<!--게시글 목록 조회-->
	<select id="selectBoardList" resultType="Board">
		
		SELECT BOARD_NO , BOARD_TITLE , READ_COUNT , MEMBER_NICKNAME ,
		
			<![CDATA[
				CASE  
			     WHEN SYSDATE - BOARD_WRITE_DATE < 1/24/60
			     THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24 * 60 * 60 ) || '초 전'
			     WHEN SYSDATE - BOARD_WRITE_DATE < 1/24
			     THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24 * 60) || '분 전'
			     WHEN SYSDATE - BOARD_WRITE_DATE < 1
			     THEN FLOOR( (SYSDATE - BOARD_WRITE_DATE) * 24) || '시간 전'
			     ELSE TO_CHAR(BOARD_WRITE_DATE, 'YYYY-MM-DD')
			  END BOARD_WRITE_DATE ,
			]]>
			
			(SELECT COUNT(*) FROM "COMMENT" C
			WHERE C.BOARD_NO = B.BOARD_NO) COMMENT_COUNT,
			(SELECT COUNT(*) FROM "BOARD_LIKE" L
			WHERE L.MEMBER_NO = B.BOARD_NO ) LIKE_COUNT,
			(SELECT IMG_PATH || IMG_RENAME FROM BOARD_IMG I
		    WHERE I.BOARD_NO = B.BOARD_NO
		    AND IMG_ORDER = 0) THUMBNAIL
	   
		FROM "BOARD" B
		JOIN "MEMBER" USING (MEMBER_NO)
		WHERE BOARD_DEL_FL = 'N'
		AND BOARD_CODE = #{boardCode}
		ORDER BY BOARD_NO DESC
				
	</select>
  
  
   
</mapper>