<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--연결할 인터페이스의 패키지명.인터페이스명 작성-->
<mapper namespace="edu.kh.project.email.model.mapper.EmailMapper">

   <!-- 인증번호 수정 -->
   <update id="updateAuthKey">
      UPDATE "TB_AUTH_KEY" SET
      AUTH_KEY = #{authKey},
      CREATE_TIME = sysdate
      WHERE EMAIL = #{email}
   </update>
   
   <!-- 인증번호 삽입 -->
   <insert id="insertAuthKey">
      INSERT INTO "TB_AUTH_KEY" VALUES(SEQ_KEY_NO.NEXTVAL, #{authKey}, #{email}, DEFAULT)
   </insert>
   
   <!-- 인증 번호 확인 -->
   <select id="checkAuthKey" resultType="int">
      SELECT COUNT(*) FROM "TB_AUTH_KEY"
      WHERE EMAIL = #{email}
      AND AUTH_KEY = #{inputKey}
   </select>


   
</mapper>